<div class="card p-2 mt-3" id="comment-<%= comment._id %>">
    <!-- comment header -->
    <div class="d-flex">
        <div class="">
            <!-- TODO: user name should be display along side its comment -->
            <%#= comment.user.name %>
                <a class="text-decoration-none" href="#">
                    <img class="profile-pic"
                        src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" width="40"
                        height="40" alt="...">
                </a>
        </div>
        <div class="flex-grow-1 pl-2">
            <a class="text-decoration-none text-capitalize h6 m-0" href="#">Tarzan</a>
            <p class="small m-0 text-muted">27 mins ago</p>
        </div>
        <div>
            <!-- TODO: to correct the authentication -->
            <!-- the user who commented can delete the post -->
            <!-- the user on whose post is commented can delete the comment -->
            <%# if(locals.user && locals.user.id==comment.user.id){ %>
                <% if(locals.user){ %>
                    <div class="dropdown">
                        <a class="" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <!-- <a class="dropdown-item text-primary" href="#">Edit</a> -->
                            <a class="delete-post-button dropdown-item"
                                href="/comments/destroy/<%= comment.id %> ">Delete</a>
                        </div>
                    </div>
                    <% } %>
        </div>
    </div>
    <!-- comment header -->
    <!-- comment body -->
    <div class="card-body p-0">
        <p class="card-text h7 mb-1">
            <%= comment.content %>
        </p>
        <% if (locals.user){ %>
            <a class="card-link small toggle-like-button" href="/likes/toggle/?id=<%=comment._id%>&type=Comment"
                data-likes="<%= comment.likes.length %>">
                <i class="far fa-thumbs-up"></i>
                <%= comment.likes.length %>Like
            </a>
            <% } %>
    </div>
</div>