<link rel="stylesheet" href="/css/post.css">

<div class=" gedf-main" id="post-<%= post._id %>" data-bs-theme="dark">
    <div class="card gedf-card">
        <div class="card-header" style="background-color: #181818;">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                        <img class="rounded-circle" width="45" src="<%= post.user.avatar %>" alt="">
                    </div>
                    <div class="ml-2">
                        <div class="h5 m-1">
                            <%= post.user.name %>
                        </div>
                        <div class="h7 text-muted">Location</div>
                        <!-- <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div> -->
                    </div>
                </div>
                <div>
                    <% if(locals.user && locals.user.id==post.user.id){ %>

                        <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="gedf-drop1">
                                <!-- <div class="h6 dropdown-header">Configuration</div> -->
                                <a class="delete-post-button dropdown-item"
                                    href="/posts/destroy/<%= post.id %>">Delete</a>
                            </div>

                        </div>
                        <% } %>
                </div>
            </div>

        </div>
        <div class="card-body">

            <p class="card-title">
                <%= post.content %>
            </p>

            <p class=" card-image">
                <% if(post.image){ %>
                    <img class="img-fluid" src="<%= post.image %>" alt="alt-post-image" loading="lazy" />
                    <% } %>
                        <% if(post.video){ %>
                            <video class="img-fluid" src="<%= post.video %>" alt="alt-post-video" controls>
                                <% } %>
            </p>
        </div>

        <div class="card-footer" style="font-size: small; background-color: #181818;">
            <% if (locals.user){ %>
                <a href="/likes/toggle/?id=<%=post._id%>&type=Post " class="card-link toggle-like-button"
                    data-likes="<%= post.likes.length %>"><i class="fa fa-gittip"></i>
                    <%= post.likes.length %> Like
                </a>

                <a class="card-link" data-bs-toggle="collapse" href="#collapseExample-<%= post._id %>">
                    <i class="fa fa-comment-alt"></i>Comment
                </a>
                <% } %>
                    <!-- <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a> -->
        </div>
        <div class="collapse" id="collapseExample-<%= post._id %>">
            <div class="card">
                <!-- new comment form -->
                <section class="mt-3">
                    <form action="/comments/create" method="POST">
                        <div class="input-group input-group">
                            <input type="text" class="form-control" name="content" placeholder="Write Comment"
                                style="background-color: #181818" aria-label="Recipient's username"
                                aria-describedby="basic-addon2" required>
                            <input type="hidden" name="post" value="<%= post._id %>">
                            <div class="input-group-append">
                                <input class="text-decoration-none text-black btn btn-warning" type="submit"
                                    value="Add Comment">
                            </div>
                        </div>
                    </form>
                </section>
                <!-- comment card bgins -->
                <section style="background-color: #181818">
                    <div class="post-comments">
                        <div class="post-comments-list">
                            <ul id="post-comments-<%= post._id %> ">
                                <% for(comment of post.comments){ %>
                                    <%- include('_comment') %>
                                        <% } %>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>