<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css">

<div class="" id="home-container">
    <section id="feed-posts">
        <!-- <h4>Posts</h4> -->
        <div class="card gedf-card" id="postForm">
            <% if(locals.user){ %>
                <form action="/posts/create" id="new-post-form" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Something about the post..." required></textarea>
                    </div>

                    <!-- <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea> -->
                    <div class="upload" style="display: flex;">
                        <div class="mb-3" style="padding-right: 5px;">
                            <label for="formFile" class="form-label">Upload Image</label>
                            <input class="form-control" type="file" id="formFile" name="image"
                                accept="image/png, image/gif, image/jpeg, image/jpg" size="1">
                            <!-- <button>Add Image</button> -->
                        </div>
                        <!-- <input type="file" name="image" accept="image/png, image/gif, image/jpeg, image/jpg" size="1" /> -->
                        <div class="mb-3" style="padding-right: 5px;">
                            <label for=" formFile" class="form-label">Upload Video</label>
                            <input class="form-control" type="file" id="formFile" name="video"
                                accept="video/mp4, video/webm, video/ogg, video/mkv" size="1">
                            <!-- <button>Add Video</button> -->
                        </div>
                    </div>


                    <!-- <input type="file" name="video" accept="video/mp4, video/webm, video/ogg, video/mkv" size="1" /> -->
                    <div class="form-group">
                        <input id="postBtn" type="submit" value="Post" class="btn float-right login_btn">
                    </div>
                    <!-- <input type="submit" value="Post" /> -->
                </form>
                <% } %>
        </div>


        <div id="posts-list-container">

            <% for(post of posts){ %>
                <%- include('_post') %>
                    <%} %>

        </div>
    </section>

    <section id="user-friends">

        <div class="">
            <h4>Friends</h4>
            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search Friend" aria-label="Search">
                <button class="btn btn-warning" type="submit">Search</button>
            </form>
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <% for(u of all_users){ %>
                    <li class="nav-item">
                        <img id="friendImg" src="<%= u.avatar %>">
                        <a class="nav-link active" aria-current="page" href="/users/profile/<%= u.id %>">
                            <%= u.name %>
                        </a>
                    </li>
                    <% } %>
            </ul>
        </div>
    </section>
    <%- include('_chat_box') %>
</div>

<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>

<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function () {
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if (locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.name %>')
    </script>
    <% } %>