<link rel="stylesheet" href="/css/user_profile.css">

<div class="container">
    <div class="">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bio-image">
                            <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="60%" />
                        </div>
                        <div style="text-align: center;">
                            <br>
                            <h4>Name: <%= profile_user.name %>
                            </h4>
                            <h5>Email: <%= profile_user.email %>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 bio-info">
                <div class="bio-content">

                    <% if(user.id==profile_user.id){ %>
                        <!-- if user matches then show the form -->
                        <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="name" placeholder="Your Name"
                                    value="<%= profile_user.name %>" required>

                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                                </div>
                                <input type="email" class="form-control" name="email" placeholder="Your Email"
                                    value="<%= profile_user.email %>" required>

                            </div>

                            <input type="file" name="avatar" placeholder="Profile Image">
                            <div class="form-group">
                                <input type="submit" value="Update" class="btn float-right login_btn">
                            </div>
                        </form>

                        <% } %>
                </div>
            </div>
        </div>
    </div>
</div>